   .activities__container,
   .activity__cards,
   .hotels__block,
   .partners__container,
   .philisofy__container,
   {
   max-width:1480px;
   margin: 0 auto;
   }
   .activity__cards,
   .hotels__block{
   display:flex;
   justify-content: center;
   }
   .heading__block{
   text-align: center;
   }
   .activity__card
   {
   height:620px;
   width:350px;
   margin:10px;
   border:1px solid black;
   border-radius: 10px;
   }
   .activity__card p{
   position:relative;
   top:80%;
   margin-left: 30px;
   }
   .philosofy_content{
     display:flex;
   }
.philosofy__img {
  width: 60%;

}
.philosofy__text {
  width: 40%;
}
