   .activities__container,
   .activity__cards,
   .hotels__block,
   .partners__container,
   .philosofy__container
   {
   max-width:1480px;
   margin: 0 auto;
   }
   .activity__cards,
   .hotels__block,
   .philosofy_content,
   .philosofy_info,
   .testimonials__block,
   .partners__logo
   {
   display:flex;
   justify-content: center;
   }
   .heading__block{
   text-align: center;
   }
   .activity__card
   {
   height:620px;
   width:25%;
   margin:10px;
   border-radius: 10px;
   }
   .activity__card p{
   position:relative;
   top:80%;
   margin-left: 30px;
   }
/*стили для философии*/
.philosofy__img {
  width: 60%;
  position: absolute;
  background: url(.jpg), #C4C4C4;
  border-radius: 10px;

}
.philosofy__text {
  width: 40%;
}
.booking__search{
  text-align: center;
}
.nav__footer__list__item,
.nav__list__item
{
  display: inline-block;
}





/*стили для заголовков*/
.subheading{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 0;
letter-spacing: 0.7em;
text-transform: uppercase;
color: #474747;
}
.heading{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 0;
color: #2D2D2D;
}
/*стили для карточек активностей*/
.activity__card:nth-child(1){
  background-image: url('../images/hiking.png');
}
.activity__card:nth-child(2){
  background-image: url('../images/sailing.png');
}
.activity__card:nth-child(3){
  background-image: url('../images/skiing.png');
}
.activity__card:nth-child(4){
  background-image: url('../images/kayaking.png');
}
.activity__name{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 0;
color: #FFFFFF;
}
.activity__num{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 17px;
color: rgba(255, 255, 255, 0.6);
opacity: 0.7;
line-height: 0;
}
